[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bunny"]
	path = bunny
	url = https://github.com/dmi3kno/bunny
	registered = false
[submodule "sentryR"]
	path = sentryR
	url = https://github.com/jcpsantiago/sentryr
